.Container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden; /*Evita que haga scrool a los lados*/
}


.body {
    flex: 1; /* ocupa todo el espacio vertical disponible */
    width: 100%;
    background-color: rgb(255, 255, 255);
    overflow-y: auto; /* permite scroll si hay muchas notas */
    padding: 20px;
    background-image: url("https://preview.redd.it/my-desktop-wallpaper-1920x1080-v0-pb5d9d1uif1d1.jpeg?auto=webp&s=04128f83534027d933dc09b1ac29096fa56f3fc0");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.header {
    height: 12vh;
    width: 100%;
    background-color: #001B38;
    color: #fff;
}

.header h1 {
    font-size: 6vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer {
    height: 12vh;
    width: 100%;
    background-color: #001B38;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridNotas {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px; /* espacio entre las notas */
  padding: 0;
  margin: 10px;
}

.body h1{
    color: #fff;
}

.buttonCreate{
    font-size: 3vh;
    border-radius: 10px;
    color: #fff;
    border-color: rgb(0, 149, 255);
    background-color: #001B38;
}

.buttonCreate:hover{
    cursor: pointer;
    transition: background-color ease-in-out .5s;
    background-color: rgb(9, 1, 37);
}

.logoutContainer {
    margin-left: 80%;
    margin-top: -4vh;
}

.logoutButton {
    font-size: 3vh;
    border-radius: 10px;
    color: #fff;
    border-color: rgb(0, 149, 255);
    background-color: #001B38;
}